<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>People:</strong>
    <%= recipe.people %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= recipe.duration %>
  </p>

</div>
