<% if logged_in? %>
    <h1>Últimas novedades</h1>

    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                F
            </div>
            <div class="wrap-follow-button">
                <div>Rogelio ha comenzado a seguir a fulanito</div>
                <a>
                    <div class="button"><span>Seguir</span></div>
                </a>
            </div>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                F
            </div>
            <div class="wrap-follow-button">
                <div>Menganito ha comenzado a seguir a fulanito</div>
                <a>
                    <div class="button"><span>Dejar de seguir</span></div>
                </a>
            </div>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha creado una nueva receta</div>
                <a>
                    <div class="button"><span>Guardar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-imagen-info">
            <div class="imagen-li">
                <%= image_tag "/default_recipe_image.png" %>
            </div>
            <div class="wrap-info">
                <div>Macarrones</div>
                <div><i class='fas fa-users'></i> 5</div>
                <div><i class='fas fa-clock'></i> 12 min</div>
                <div><i class='fas fa-star'></i> 3.2</div>
            </div>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha creado una nueva receta</div>
                <a>
                    <div class="button"><span>Eliminar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-imagen-info">
            <div class="imagen-li">
                <%= image_tag "/default_recipe_image.png" %>
            </div>
            <div class="wrap-info">
                <div>Pollas en ollas</div>
                <div><i class='fas fa-users'></i> 5</div>
                <div><i class='fas fa-clock'></i> 12 min</div>
                <div><i class='fas fa-star'></i> 3.2</div>
            </div>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha creado una nueva lista</div>
                <a>
                    <div class="button"><span>Guardar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-list-stats">
            <span><i class='fas fa-book'></i> Recetas para boda gitana</span>
            <span><i class='fas fa-utensils'></i> 45</span>
            <span><i class='fas fa-star'></i> 666</span>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha creado una nueva lista</div>
                <a>
                    <div class="button"><span>Eliminar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-list-stats">
            <span><i class='fas fa-book'></i> Recetas para gallegos</span>
            <span><i class='fas fa-utensils'></i> 45</span>
            <span><i class='fas fa-star'></i> 120</span>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha añadido una receta a la lista postres</div>
                <a>
                    <div class="button"><span>Guardar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-imagen-info">
            <div class="imagen-li">
                <%= image_tag "/default_recipe_image.png" %>
            </div>
            <div class="wrap-info">
                <div>Piononos</div>
                <div><i class='fas fa-users'></i> 5</div>
                <div><i class='fas fa-clock'></i> 12 min</div>
                <div><i class='fas fa-star'></i> 3.2</div>
            </div>
        </div>
    </div>
    <div class="wrap-publicacion">
        <div class="wrap-imagen-info">
            <div class="imagen-perfil">
                E
            </div>
            <div class="wrap-follow-button">
                <div>Evaristo ha añadido una receta a la lista desayunos para yankis locos por Trump</div>
                <a>
                    <div class="button"><span>Eliminar</span></div>
                </a>
            </div>
        </div>
        <div class="wrap-imagen-info">
            <div class="imagen-li">
                <%= image_tag "/default_recipe_image.png" %>
            </div>
            <div class="wrap-info">
                <div>Bacon con huevos</div>
                <div><i class='fas fa-users'></i> 5</div>
                <div><i class='fas fa-clock'></i> 12 min</div>
                <div><i class='fas fa-star'></i> 3.2</div>
            </div>
        </div>
    </div>
<% end %>
