<% if logged_in? %>
<h1>Mi perfil</h1>
<div class="perfil">
    <div class="wrap-perfil-estadisticas">
        <div class="imagen-perfil">
            M
        </div>
        <div class="estadistica">
            <div class="estadistica-numero">
                12
            </div>
            <div class="estadistica-titulo">
                Listas
            </div>
        </div>
        <div class="estadistica">
            <div class="estadistica-numero">
                34
            </div>
            <div class="estadistica-titulo">
                Recetas
            </div>
        </div>
        <div class="estadistica">
            <div class="estadistica-numero">
                112
            </div>
            <div class="estadistica-titulo">
                Seguidores
            </div>
        </div>
    </div>
    <h2>admin</h2>
    <h2>admin@gmail.com</h2>
</div>
<% end %>
