<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>User:</strong>
    <%= shopping_list.user_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= shopping_list.ingredient_id %>
  </p>

  <p>
    <strong>Comprado:</strong>
    <%= shopping_list.comprado %>
  </p>

</div>
