.wrap-publicacion {
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--form-outline);
    padding-top: 15px;
}

.wrap-publicacion .wrap-imagen-info, .wrap-publicacion .wrap-list-stats {
    padding-bottom: 15px;
}

.wrap-follow-button a{
    color: var(--primary-color);
}

.wrap-follow-button a:hover{
    color: var(--secondary-color);
    transition: 0.5s;
}