.wrap-publicacion {
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--form-outline);
    padding-top: 15px;
}

.wrap-publicacion .wrap-imagen-info, .wrap-publicacion .wrap-list-stats {
    padding-bottom: 15px;
}

.wrap-publicacion .wrap-list-stats span {
    padding: 0px 5px;
}