<h1>Editing recipes list</h1>

<%= render "form", recipes_list: @recipes_list %>

<br>

<div>
  <%= link_to "Show this recipes list", @recipes_list %> |
  <%= link_to "Back to recipes lists", recipes_lists_path %>
</div>
