<h1>Editing folowed list</h1>

<%= render "form", folowed_list: @folowed_list %>

<br>

<div>
  <%= link_to "Show this folowed list", @folowed_list %> |
  <%= link_to "Back to folowed lists", folowed_lists_path %>
</div>
