<p style="color: green"><%= notice %></p>

<h1>Folowed lists</h1>

<div id="folowed_lists">
  <% @folowed_lists.each do |folowed_list| %>
    <%= render folowed_list %>
    <p>
      <%= link_to "Show this folowed list", folowed_list %>
    </p>
  <% end %>
</div>

<%= link_to "New folowed list", new_folowed_list_path %>
